<launch>
  <!--  ******************** COMMON LAUNCH SETTINGS  ********************  -->
  <arg name="ped_follow" default="true"/>
  <arg name="image_process" default="false"/>
  <arg name="use_webcam" default="false"/>
  
  <!-- ******************** MOVE BASE NAVIGATION ******************** -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- Global and local costmap -->
    <rosparam file="$(find development)resources/move_base/costmap_common_velodyne.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find development)resources/move_base/costmap_common_velodyne.yaml" command="load" ns="local_costmap" />

    <!-- Global and local planner -->
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <!-- Global and local planner parameters -->
    <rosparam file="$(find development)resources/move_base/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find development)resources/move_base/move_base_params.yaml" command="load" />
    <remap from="odom" to="odometry/filtered" />

    <!-- Object detection parameters (since this is the only node that is always executed) -->
    <param name="img_process" value="$(arg image_process)"/>
    <param name="webcam" value="$(arg use_webcam)"/>
  </node>

  <!-- ******************** PEDESTRIAN FOLLOWING  ******************** -->
  <node pkg="development" if="$(arg ped_follow)" type="main.py" name="FYP_algorithm" output="screen"/>

  <!-- ******************** USB WEBCAM  ******************** -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <!-- ******************** IMAGE PROCESSING ******************** -->
  <node if="$(arg image_process)" name="image_processor" pkg="development" type="img_proc.py" output="screen"/>
</launch>
