<launch>
  <!--  ******************** COMMON LAUNCH SETTINGS  ********************  -->
  <!--  GAZEBO CONFIG -->
  <arg name="world_name" default="$(find development)/resources/gazebo/campus.world"/>
  <arg name="gui" default="true"/>

  <!-- JACKAL CONFIG -->
  <!-- base: Generates Jackal model only (faster) -->
  <!-- fyp_laser: Generates Jackal model with 2D laser scanner (fast) -->
  <!-- fyp_velodyne: Generates Jackal model with 3D Velodyne at low resolution (slower) -->
  <!-- fyp_velodyne_hd: Generates Jackal model with 3D Velodyne at high resolution (slowest) -->
  <arg name="jackal_config" default="fyp_velodyne"/>
  <arg name="spawn_jackal" default="true"/>

  <!--  **************************************************************  -->

  <!--  ******************** LAUNCH GAZEBO WORLD  ********************  -->
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!--  ******************** SPAWN JACKAL MODEL  ********************  -->
  <node name="urdf_spawner"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -model jackal -param robot_description -x 0 -y 0 -z 1.0"
        if="$(arg spawn_jackal)" />

  <include file="$(find development)/resources/jackal/jackal.launch">
    <arg name="config" value="$(arg jackal_config)"/>
  </include>

</launch>